<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrafficModeling.Properties.Settings>
            <setting name="CarSpeed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CarSpeedDeviance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputStream1ExpValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputStream1Dispersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputStream2ExpValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InputStream2Dispersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrafficLightTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TrafficLightDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimulationTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RoadLength" serializeAs="String">
                <value>0</value>
            </setting>
        </TrafficModeling.Properties.Settings>
    </userSettings>
</configuration>