<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrafficModeling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrafficModeling.Properties.Settings>
            <setting name="civCarV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="civCarDev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="govCarV" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="govCarDev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="road1time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="road1disp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="road2time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="road2disp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="greenlight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="redlight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="length" serializeAs="String">
                <value>0</value>
            </setting>
        </TrafficModeling.Properties.Settings>
    </userSettings>
</configuration>